@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 200, 200);
}

* {
    font-family: Roboto;
}

img {
    margin: 64px;
    width: 256px;
    height: 256px;
}

.col-lg-3>img {
    margin: auto;
    width: 128px;
    height: 128px;
}

.col-lg-3 {
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(55, 55, 55);
    height: 350px;
    margin: 5px;
    margin-bottom: 54px;
    border-radius: 15px;
}

.col-lg-3>h2 {
    padding-top: 15px;
    font-size: 42px;
    text-align: center;
}

.col-lg-3>hr {
    border-top: 1px dashed black;
}

.col-lg-3>button {
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(55, 55, 55);
    width: 50%;
    margin-left: 25%;
}

#select-button>button {
    background-color: rgb(200, 200, 200);
    border: 1px solid grey;
    padding: 20px;
    font-size: large;
    border-radius: 20px 10px 0px 0px;
    box-shadow: 10px 10px 5px grey;
    outline: none;
    transition: width 1s ease, background-color 1s ease;
    width: 180px;
}

#select-button>button:disabled {
    background-color: rgb(55, 55, 55);
    border-bottom-color: rgb(55, 55, 55);
    color: white;
    width: 300px;
}

.selection {
    padding-top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height: 563px;
    background-color: rgb(55, 55, 55);
}

.results {
    text-align: center;
    padding-top: 90px;
    font-size: 40px;
}

label {
    margin: 8px 0px 0px 0px !important;
}

.graph {
    margin: auto;
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    height: 25px;
    background: linear-gradient(90deg, rgba(255, 141, 0, 1) 0%, rgba(255, 141, 0, 1) 17%, rgba(9, 121, 9, 1) 19.44444%, rgba(9, 121, 9, 1) 55.55555%, rgba(255, 141, 0, 1) 57%, rgba(255, 141, 0, 1) 83.333%, rgba(255, 0, 0, 1) 100%);
}

.col-lg-4 {
    height: 420px;
}

.radio {
    float: left;
    width: 50%;
}

.radio-group {
    width: 100%;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.radio-group-small {
    width: 50%;
    float: left;
}

input[type=range] {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.forms {
    padding-top: 20px;
}

.idk {
    height: 200px;
    padding: 20px;
}

#pointer {
    width: 80%;
    margin: auto;
}

#pointer>div {
    width: 3px;
    height: 20px;
    background-color: black;
}